@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "miFuente2";
    src: url("fonts/LeagueSpartan-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

#Titulo {
    font-family: "miFuente2", sans-serif;
    text-align: center;
}

header{
    font-family: "OpenSans";
}

hr {
  border: none;
  height: 5px;
  background: linear-gradient(to right, #0400ff, #ff005d);
  width: 100%;
  margin: 2rem auto;
}

body {
  background: linear-gradient(135deg, #ffffff, #f3f4f6, #e5e7eb);
  background-attachment: fixed;
  color: #222;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 2rem;
}

#imagen {
  width: 40%;
  height: 40%;
  object-fit: cover;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#nombre_foto_perfil {
  text-align: center;
}


 
  