@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "miFuente2";
    src: url("fonts/LeagueSpartan-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Oxanium";
  src: url("fonts/Oxanium-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


#Titulo {
    font-family: "miFuente2", sans-serif;
    text-align: center;
}

header{
    font-family: "OpenSans";
}

hr {
  border: none;
  height: 5px;
  background: linear-gradient(to right, #0400ff, #ff005d);
  width: 100%;
  margin: 2rem auto;
}

body {
  background: linear-gradient(135deg, #ffffff, #f3f4f6, #e5e7eb);
  background-attachment: fixed;
  color: #222;
  font-family: 'OpenSans', sans-serif;
  margin: 0;
  padding: 2rem;
}

#imagen {
  width: 40%;
  height: 40%;
  object-fit: cover;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#nombre_foto_perfil {
  text-align: center;
  font-family: "Oxanium";
  font-size: 50px;
  color: #2302a3;
}

.secciones{
  font-family: "Oxanium";
  font-size: 30px;
  color: #004e55;
}

#flex1 {
  display: flex;
  gap: 2%;
}

#Contacto, #Sitios_web {
  flex: 1;
  border: 2px solid black;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgb(0, 83, 119);
}

#Imagen_resumen_profesional {
  height: 40%;
  object-fit: cover;
  border-radius: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.barra-progreso {
  width: 100%;
  max-width: 400px;
  background-color: #f1f1f1;
  border-radius: 20px;
  overflow: hidden;
  height: 25px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.progreso {
  height: 100%;
  background: linear-gradient(90deg, #00c9a7, #007acc);
  width: 0;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.8s ease-in-out;
}





 
  